<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<header class="header">
  <a href="" class="logo">Evolution.</a>
  <nav class="navbar">
    <a href="login.html">Logar</a> 
  </nav>
</header>

<section class="cadastro">
  <div class="cadastro-content">
    {{ sectionContent }}
    <h3>Monitoramento Institucional</h3>
    <p>O monitoramento dos alunos nas instituições é essencial para entender seu desempenho, frequência e necessidades individuais. Isso permite intervenções direcionadas e melhorias contínuas no ensino!</p>  

    <div class="btn-box">
      <a href="principal.html">Cadastre-se</a>
    </div>
    <img src="main.svg" alt="" class="cadastro-image"> 
  </div>
</section>

<span class="home-imgHover"></span>
